<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BUI 控件</title>
  <meta name="description" content="BUI 控件库的详细文档">
  <meta name="author" content="dxq613@gmail.com">
  <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
  <link href="https://s.tbcdn.cn/g/fi/bui/css/dpl-min.css" rel="stylesheet"> 
  <link href="https://s.tbcdn.cn/g/fi/bui/css/bui-min.css" rel="stylesheet">
  <link href="../assets/css/page.css" rel="stylesheet"> 
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span12">
        <img class="introduce-img" src="../assets/img/hello.jpg"/>
        <div class="introduce">
          <p></p>
          <ul></ul>
        </div>
      </div>
    </div>

  </div>
  <script src="https://s.tbcdn.cn/g/fi/bui/jquery-1.8.1.min.js"></script>
  <script src="https://s.tbcdn.cn/g/fi/bui/seed-min.js?t=201212261326"></script> 
  <script src="../assets/js/config.js"></script> 
  <script>
    BUI.use('common/page',function (Page) {
      new Page().init();
    });
  </script>
</body>
</html>
