#header{
  height: 50px;
  width: 100%;
  background: #074e7c;
  background: -webkit-gradient(linear,left top,left bottom,from(#074e7c),to(#095f93));
}
html,body{
  *overflow: hidden;
}

#header h1{
  color: white;
  padding-left: 15px;
  line-height: 40px;
}

#footer{
  height: 30px;
  background: #f8f8f8;
}

.nav-tree{
  float: left;
  width: 240px;
  height: 100%;
}

.nav-tree .bui-tree-list{
  height: 100%;
  overflow-y:auto;
  background: #f8f8f8;

}

.nav-tree .bui-tree-list ul{
  padding:10px;
}

.container{
  margin-left:240px;
  width: auto;
  margin-right: auto;
}

/** fixed iframe height **/
#J_Tab{
  height: 100%;
}
#J_Tab .bui-nav-tab, #J_Tab .tab-content-container,#J_Tab .tab-content{
  height: 100%;
}


/** fork **/
.forkme {
  font: normal 14px / 20px Helvetica,Arial,Verdana,sans-serif;
  position: fixed;
  right: -60px;
  bottom: 50px;
  z-index: 10;
  line-height: 30px;
  color: #f6f7f8;
  text-align: center;
  width: 250px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  font-weight: bold;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  -moz-box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  -ms-box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  -o-box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  border-collapse: separate;
  border: 1px solid #000;
  background-color: #363644;
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#4c5b63),to(#363644));
  background-image: -webkit-radial-gradient(circle,#4c5b63,#363644);
  background-image: -moz-radial-gradient(circle,#4c5b63,#363644);
  background-image: -ms-radial-gradient(circle,#4c5b63,#363644);
  background-image: -o-radial-gradient(circle,#4c5b63,#363644);
  background-repeat: no-repeat;
}

.forkme:hover {
  text-decoration: none;
  background-color: #4d4d60;
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#627680),to(#4d4d60));
  background-image: -webkit-radial-gradient(circle,#627680,#4d4d60);
  background-image: -moz-radial-gradient(circle,#627680,#4d4d60);
  background-image: -ms-radial-gradient(circle,#627680,#4d4d60);
  background-image: -o-radial-gradient(circle,#627680,#4d4d60);
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  -moz-box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  -ms-box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  -o-box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  box-shadow: 0 1px 3px rgba(54,54,68,0.8),inset 0 -1px 3px rgba(246,247,248,0.5);
  border-collapse: separate;
}