 h1{
  text-align: center;
  font-size: 18px;
 }
 .tutorial h1,.tutorial h2,.tutorial h3, .tutorial h4{
   margin: 10px 0;
 }
 h1,h2,h3,h4{
  font-family: "Microsoft Yahei";
 }
 h2{
  font-size: 16px;
 }
 h3{
  font-size: 14px;
 }
.container{
  margin-left: 0px;
  margin-top: 0px;
  padding: 20px 20px 0px 20px;
}

.nav-menu{
  position: fixed;
  right: 10px;
  top:100px;
  width: 150px;
  border: 1px solid #d1d1d1;
  padding: 20px;
}

.nav-menu .h3{
  margin-left: 20px;
}

/** introduce **/
.intro-wraper{
  position: relative;
  min-height: 200px;
  _height:200px;
  _overflow:hidden;
}
.intro-img{
  position: absolute;
  left: 0;
  top: 0;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #aaa;
}

.introduce{
  margin-left: 220px;
}

.intro-level li {
  list-style-type: none;
  padding: 0.2em 1em 0.2em 0;
  margin: 0;
  display: inline-block;
  *display: inline;
  *zoom:1;
}


.intro-level li span{
  font-weight: bold;
}
/** code **/
code {
  padding: 0px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre code{
  border: none;
  padding: 0;
}

.tutor-list{
  padding-left: 25px;
  list-style: disc;
}

pre textarea{
  display: none;
}

.panel pre{
  margin: 0;
  border : none;
  border-top: 1px solid #ddd;
}

.demo-dialog textarea{
  margin:0;
  height: 100%;
  width: 100%;
  overflow-y:auto;
}

/** api style **/
#J_API{
  border-top:1px dotted #ddd;
}
.short{
  display:none;
}
a.side{
  display:none;
}
.definedBy{
  display:none;
}

.defined-in,.view-source,.inherited,.hierarchy{/**,.doc-contents**/
  display:none;
}

.subsection{
  border : 1px solid #ddd;
}

.members-section{
  margin-bottom:20px;
}

.members-section .table{
  margin-bottom:0;
  border-bottom:0;
}

.members-section .icon-cfg{
  width: auto;
  height: auto;
  background: none;
}

.subsection .first-child,.subsection:first-child{
  border-top:none;
}
.member{
  border-top:1px solid #ddd;
}



.member{*zoom:1;}
.member:before,
.member:after{display:table;content:"";}
.member:after{clear:both;}

.member .title,.member .description{
  padding:10px;
  float:left;
}

.member .title{
  width:240px;
  
}

.member .description{
 border-left:1px solid #ddd;
  width:660px;
}

.description p{
  margin:0;
}

.description ul{
  list-style:disc;
  padding-left:15px;
}
a.name{
  font-size:14px;
  font-weight:bold;
}

h3.pa{
  font-size:12px;
}

